config MTK_CPU_CTRL_CFP
	tristate "CPU CTRL Ceiling-Fool-Proof"
	depends on MTK_LOAD_TRACKER
	help
	  MTK_CPU_CTRL_CFP is the kernel config of CPU controller
	  Ceiling-Fool-Proof Mechanism designed by MTK. CPU controller
	  will free CPU frequency ceiling during heavy CPU loading.
	  This function depends on MTK_LOAD_TRACKER.
